body {
	background: url('img/dot.gif') repeat-x 0 113px #fff;
	font-family: sans-serif;
	margin:10px 0 0 ;
}
.outer{
	width: 700px;
	margin:0 auto;
	
}
.header {
	height :100px;
	width: 700px;
	color:#000;
	text-align: center;
	
}
.header h1 {
	font-size:45px;
	margin:0;
	border-bottom: 1px  solid #000;
	display: block;
	
}
.header h2 {
	font-size:24px;
	margin:5px 0 0 0;
	font-weight:normal;
	letter-spacing:11px;
	display:block;
}
.header a  {
	color:#000;
	border:none;
	text-decoration:none;
}
.home, .hover:visited {
	color:#000;
	text-decoration:underline;
	display:block;
	text-align:center;
	margin:0 0 20px;
	font-size:23px;
}
.home:hover {
	color:#7F7F7F;
}

.conteudo {
	width: 700px;
	margin:40px 0 0;
	display:inline-block;
	
}
.left {
	width: 250px;
	border: 0;
	float:left;	
}
.titulos {
	font-size:22px;
	font-weight: normal;
	text-align:center;
	border-bottom: 1px #000 solid;
	margin:0px 0 15px;
	display:block;
}
.left p {
	font-size: 16px;
	font-weight:normal;
	margin:18px 0;
	text-align: justify;
	line-height:25px;
	font-family:serif;
	padding: 0 0 0px;
}
.left img{
	display:block;
	width:200px;
	height:200px;
	display:block;
	margin:0 auto;
	border-radius: 100%;
}
.conteudo_left {
	border-bottom: 3px solid #000;
	margin: 0 0 20px;
}
.email {
	background: url("img/email.png") no-repeat left;
	font-size:13px;
	height:22px;
	display:block;
	padding:11px 0 0 37px;
	margin:0 0 13px;
}
.redes {
	border:0;
	font-size:0px;
	height:32px;
	width:32px;
	float:left;
	display:block;
	margin: 0 15px 15px 0;

}
.insta {
	background: url("img/redes.png") no-repeat -32px 0;
	
}
.face {
	background: url("img/redes.png") no-repeat;
	
}
.face:hover {
	background: url("img/redes.png") no-repeat 0px -32px;

}
.insta:hover {
	background: url("img/redes.png") no-repeat -32px -32px;

}
.trabalhos {
	width:430px;
	float:left;
	margin: 0 0 0 20px
}
.trabalhos_pagina {
	width:auto;
	margin: 0 0 0 0px
}
.separar {
	display:inline-block;
	width:100%;
	height:1px;
}
.conteudo {
}
.postagem {
	margin:0 0 35px;
	border-bottom:2px solid #000;
}
.postagem_titulo {
	border-left: 3px solid #000;
	margin:0 0 16px;
	padding:0 0 0 5px;
	color:000;
	text-decoration: none;
}
.postagem_titulo:hover {
	border-left: 3px solid #858585;

}
.postagem_titulo_pagina:hover {
	border-left: 3px solid #000 !important;
}
.postagem_titulo a, .postagem_titulo a:visited {
	color:000;
	text-decoration: none;
}
.postagem_titulo h1, .postagem_titulo h1 a  {
	font-size:18px;
	margin:0px;
	display:block;
}
.postagem_titulo a h1:hover {
	color:#000;
	text-decoration:underline;
}
.postagem_titulo span {
	display:block;
	font-size:12px;
}
.postagem_conteudo p {
	font-size:14px;
	line-height:20px;
	text-align:justify;
}
.footer{
	width:100%;
	height:50px;
	border-top:1px solid #000;
	margin:20px 0 0 0;
}
.footer span {
	font-size:14px;
}
.footer_gamb {
	margin:18px auto 0;
	text-align:center;
	
}